<p>
  user works!
</p>
<button [routerLink]="'/sign-in'">
 SIGN OUT
</button>
<ngd-foobar-one [data]="data"
                (show)="onShow($event)"></ngd-foobar-one>
<ngd-foobar-two [data]="data"
                (show)="onShow($event)"></ngd-foobar-two>
<ngd-foobar-three [data]="data"
                (show)="onShow($event)"></ngd-foobar-three>
<ngd-foobar-four [data]="data"
                (show)="onShow($event)"></ngd-foobar-four>
<ngd-foobar-five [data]="data"
                (show)="onShow($event)"></ngd-foobar-five>
